
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin: 92px 50px 96px 50px;
}
.header_logo {
  display: block;
  width: 138px;
  height: 104px;
}
.header_logo-image {
  width: 100%;
}
.header__menu {
  align-items: center;
}
.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}
.header__links-list-item .header__link_active {
  text-decoration: none;
}
.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__links-list-item {
  list-style-type: circle;
}
.header__link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}
.address {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25.4px;
  text-underline-offset: 4px;
}
.header__address {
  justify-self: end;
  align-self: end;
  max-width: 240px;
}
.cover {
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  height: 757px;
  background: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.overlay {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.5);
}
.cover__title {
  position: static;
  color: white;
  font-size: 100px;
  line-height: 110%;
  letter-spacing: 30px;
  text-transform: uppercase;
}
.aligned-text {
  position: absolute;
  top: 165px;
  left: 50px;
}
.aligned-text_center {
  position: absolute;
  top: 300px;
  left: 380px;
}
.aligned-text_right {
  position: absolute;
  top: 435px;
  left: 663px;
}
.cover__description {
  z-index: -1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 656px 50px 50px 50px;
  word-spacing: 19px;
}
.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
  text-transform: uppercase;
}
.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: white;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}
.lots {
  margin: 180px 24px 0px 24px;
}
.lots__heading {
  display: block;
  padding-bottom: 27px;
  padding-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}
.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}
.card-link {
 height: 100%;
 text-decoration: none;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card_type_film {
  z-index: -1;
  width: 334px;
  height: 596px;
  background: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_book {
  z-index: -1;
  width: 334px;
  height: 596px;
  background: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_picture {
  z-index: -1;
  width: 334px;
  height: 596px;
  background: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card__title {
  display: flex;
  padding:  48px 40px 0px 40px;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}
.card__text {
  display: flex;
  padding:  0px 40px 48px 40px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.lots__look-more-link {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-underline-offset: 4px;
}
.about {
 display: flex;
 margin: 120px 24px 0px 24px;
}
.about__column {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
flex-shrink: 0;
justify-content: center;
align-items: flex-start;
gap: 25px;
width: 334px;
  }
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  border-radius: 100%;
  background-color: black;
}
.about__logo-image {
  width: 145px;
  height: 115px;
}
.about_title_text {
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 25px;
}
.about__title {
  margin-top: 35px;
  padding-top: 101px;
  padding-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}
.about__text {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
.about_text_top {
  padding-bottom: 24px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0px 50px 82px 50px;
}
.footer__address {
  justify-items: start;
  align-items: start;
  line-height: 25px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.footer__menu-link_footer__menu-link_active {
  text-decoration: none;
}
.footer__menu-link {
  color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-underline-offset: 4px;
}
.footer__social-list {
 display: flex;
 flex-direction: row;
gap: 48px;
list-style-type: none;
}
.footer__social-icon {
width: 48px;
height: 48px;
}
